/*Portrait*/
@media only screen and (min-device-width: 280px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  /*Home Page*/

  header {
    z-index: 1;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .waves {
    aspect-ratio: 250/600;
  }

  .layer-top,
  .layer-bottom {
    animation: none;
  }

  .hamburger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 30px;
    right: 20px;
  }

  .hamburger_menu .hamburger_line {
    background-color: #fff;
    width: 100%;
    height: 5px;
  }
  nav {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    height: 80%;
    width: 50%;
    z-index: 50;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: rgba(127, 51, 165, 1);
    background: linear-gradient(
      45deg,
      rgba(127, 51, 165, 1) 0%,
      rgba(23, 120, 247, 1) 100%
    );
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180024",endColorstr="#c700ff",GradientType=1);
    transform: translateX(200%);
    transition: transform 0.8s ease-in-out;
  }

  .nav--close {
    transform: translateX(200%);
  }

  .nav--open {
    transform: translateX(0%);
  }

  .close_nav {
    display: block;
    font-size: 7vh;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  nav ul li {
    padding: 1.5rem;
  }

  nav ul li a {
    padding: 0.3rem 0;
    font-size: 1.2em;
  }

  .header_glass {
    margin-top: 2rem;
    border-radius: 0px;
    justify-content: center;
    background: none;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    border: none;
    background-clip: none;
    box-shadow: none;
  }

  .header_glass p {
    margin: 1rem;
    font-size: 4vh;
  }

  .home-btn {
    margin-top: 2rem;
  }

  .social_icons a {
    font-size: 7vh;
  }

  /****************Projects****************/

  .project_carousel-container {
    justify-content: space-between;
  }

  .slider_btn {
    background: rgba(0, 0, 0, 0.4);
    width: 35px;
    z-index: 60;
  }
  .slider_btn-left {
    border-radius: 0px 8px 8px 0px;
  }
  .slider_btn-right {
    border-radius: 8px 0px 0px 8px;
  }

  .project_carousel {
    width: 280px;
    height: 168px;
  }
  .project_window {
    width: 280px;
    height: 168px;
  }

  .project_window:nth-child(1) {
    transform: rotateY(0deg) translateZ(140px);
  }
  .project_window:nth-child(2) {
    transform: rotateY(90deg) translateZ(140px);
  }
  .project_window:nth-child(3) {
    transform: rotateY(180deg) translateZ(140px);
  }
  .project_window:nth-child(4) {
    transform: rotateY(270deg) translateZ(140px);
  }

  .project_description a {
    padding: 0.5rem;
  }
  /**********About**************/
  .modal-content-about {
    background-color: #fefefe;
    margin: 0;
    padding: 0px 8px;
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .about-content {
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px -1px 5px 0px;
  }

  .about-text {
    width: 100%;
    margin: 1.5rem auto;
    text-align: center;
  }

  /*****************Resume************************/

  .modal-content-resume {
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*****************Contact*********************/

  .modal-content-contact {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 0px;
    border: none;
  }

  .contact-info {
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .border-right {
    border-right: none;
    border-bottom: solid 1px #000;
    height: 1px;
    margin: 0;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  form button {
    font-size: 0.8rem;
  }

  .contact-icons {
    margin-top: 1rem;
    margin-left: 0;
  }

  .phone {
    margin-bottom: 1rem;
  }

  .phone i,
  .email i {
    font-size: 2rem;
  }

  .phone .fas,
  .email .fas {
    margin-bottom: 0;
  }
}

@media only screen and (min-device-width: 568px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  nav ul li {
    padding: 1.5rem 0;
  }

  .fa-bars {
    display: block;
    font-size: 3vw;
    color: #fff;
    margin-top: 5px;
  }
  nav {
    display: block;
    position: absolute;
    right: 0;
    height: 80%;
    width: 30%;
    z-index: 50;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: rgb(127, 51, 165);
    background: linear-gradient(
      45deg,
      rgb(127, 51, 165) 0%,
      rgb(23, 120, 247) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180024",endColorstr="#c700ff",GradientType=1);
    transform: translateX(200%);
    transition: transform 0.8s ease-in-out;
  }

  .close_nav {
    display: block;
    font-size: 7vh;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  nav ul li a {
    padding: 0rem 0;
    font-size: 0.8rem;
  }

  .header_glass {
    margin-top: 0;
    border-radius: 0px;
    justify-content: center;
    background: transparent;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    border: none;
    background-clip: none;
    box-shadow: none;
  }

  .header_glass h1 {
    color: white;
    font-weight: 700;
    font-size: 4vw;
    line-height: 1.5;
  }

  .header_glass p {
    text-align: center;
    max-width: 40ch;
    width: 100%;
    color: white;
    font-weight: 300;
    font-size: 2vw;
    line-height: 1.5;
    margin: 1rem;
  }

  .social_icons a {
    font-size: 5vw;
    margin-bottom: 1rem;
  }

  /***Projects***/

  .project_carousel-container {
    justify-content: space-between;
    margin-top: 40px;
  }
  .slider_btn {
    background: rgba(0, 0, 0, 0.4);
    width: 30px;
  }
  .slider_btn-left {
    border-radius: 0px 8px 8px 0px;
  }
  .slider_btn-right {
    border-radius: 8px 0px 0px 8px;
  }

  .project_carousel {
    width: 280px;
    height: 168px;
  }
  .project_window {
    width: 280px;
    height: 168px;
  }

  .project_window:nth-child(1) {
    transform: rotateY(0deg) translateZ(140px);
  }
  .project_window:nth-child(2) {
    transform: rotateY(90deg) translateZ(140px);
  }
  .project_window:nth-child(3) {
    transform: rotateY(180deg) translateZ(140px);
  }
  .project_window:nth-child(4) {
    transform: rotateY(270deg) translateZ(140px);
  }

  .project_description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project_description p {
    display: none;
  }
  .project_description a {
    padding: 0.5rem;
  }

  /****Resume*****/

  .modal-content-resume {
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /***Contact****/
  .modal-content-contact {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 0px;
    border: none;
  }

  .contact-content {
    justify-content: center;
  }
  .contact-info {
    margin: auto;
    width: 90%;
  }
}
