.modal-content-contact {
  position: relative;
  background-color: #fefefe;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 3px 3px 5px;
  width: 800px;
}

.contact-content h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.contact-info {
  display: flex;
  width: 100%;
  margin-left: 50px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.25rem;
  }

  input {
    margin-bottom: 0.25rem;
  }

  textarea {
    resize: none;
  }

  button {
    border: none;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    color: #fff;
    background: rgb(24, 0, 36);
    background: linear-gradient(
      45deg,
      rgba(24, 0, 36, 0.7343312324929971) 33%,
      rgba(0, 116, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180024",endColorstr="#0074ff",GradientType=1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}

.error-message {
  font-size: 0.9rem;
  color: red;
}

.border-right {
  border-right: 2px solid black;
  height: 16rem;
  margin-left: 2rem;
}

.contact-icons {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  margin-left: 2rem;
}

.phone {
  display: flex;
  align-items: center;

  i {
    margin-right: 1.2rem;
  }
}

.email {
  display: flex;
  align-items: center;

  i {
    margin-right: 1rem;
  }

  a {
    color: #000;
  }
}

.fas {
  color: rgba(0, 116, 255, 1);

  margin-bottom: 1.2rem;
}
