.card {
  margin: 0 auto;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.075);
  background-clip: padding-box;
  border: 2px solid transparent;
  backdrop-filter: blur(40px);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(46, 54, 68, 0.5);
  opacity: 0;

  h1 {
    margin: 1.8rem 1.8rem 1.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    max-width: 20ch;
  }

  p {
    color: #fff;
    max-width: 40ch;
    line-height: 1.8;
  }
}

@keyframes openCards {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  70% {
    transform: scale(0.95);
    opacity: 1;
  }

  95% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes expandCard {
  0% {
    transform: translateY(-10px);
    width: 350px;
  }

  25% {
    transform: translateY(-10px);
    width: 400px;
  }
  50% {
    transform: translateY(-10px);
    width: 450px;
  }
  75% {
    transform: translateY(-10px);
    width: 480px;
  }

  100% {
    transform: translateY(-10px);
    width: 500px;
  }
}
@keyframes shrinkCard {
  0% {
    transform: translateY(-10px);
    width: 500px;
  }

  25% {
    transform: translateY(-10px);
    width: 480px;
  }
  50% {
    transform: translateY(-10px);
    width: 450px;
  }
  75% {
    transform: translateY(-10px);
    width: 400px;
  }

  100% {
    transform: translateY(10px);
    width: 350px;
  }
}
