nav {
  width: 100%;
  z-index: 5;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 30px 50px;
      text-decoration: none;
      list-style: none;

      button {
        display: inline-block;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: translateY(-5px);
          cursor: pointer;
        }
      }
    }
  }
}

.hamburger_menu {
  display: none;
}

.close_nav {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
}
