.modal-content-resume {
  position: relative;
  margin: 15% auto;
  padding: 20px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.075);
  background-clip: padding-box;
  border: 2px solid transparent;
  backdrop-filter: blur(40px);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(46, 54, 68, 0.5);
}

.resume-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.8rem;
    margin-bottom: 3rem;
  }
}

.resume-btn {
  padding: 1rem 3rem;
  opacity: 1;
  border-radius: 20px;
  color: #ffff;
  text-decoration: none;
  background: rgb(24, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(24, 0, 36, 0.7343312324929971) 33%,
    rgba(0, 116, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#180024",endColorstr="#0074ff",GradientType=1);
  transition: all 0.1s ease-in-out;

  &:hover {
    padding: 1rem 3.3rem;
    cursor: pointer;
    opacity: 0.9;
  }
}
