.modal-content-about {
  position: relative;
  margin: 5% auto;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.075);
  background-clip: padding-box;
  border: 2px solid transparent;
  padding: 20px;
  backdrop-filter: blur(40px);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(17, 30, 54, 0.5);
  overflow: hidden;
}

.about-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover center;
  border: 1px solid transparent;
  box-shadow: 3px 3px 5px rgba(17, 30, 54, 0.5);
  background-clip: padding-box;
}

.about-text {
  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
    color: #fff;
  }

  p {
    color: #fff;
    line-height: 1.8;
  }
}
